<?SCHEMA schemaVersion="1.0"?>
<Experiment xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="file:///C:/Program%20Files%20(x86)/Common%20Files/ETAS/Experiment%20Environment/3.7/Schemas/EE.Data.Experiment.xsd" xsi:type="ETAS.EE.Data.ExperimentType">
  <PluginData xsi:type="ETAS.EE.Data.PluginDataListType">
    <Item xsi:type="ETAS.EE.Data.PluginDataType" id="ID30f5fce9-b2b8-47f2-b7de-99a0e38c64cd" pluginID="Options" rootFolder="Options_Files">
      <Documents xsi:type="ETAS.EE.Data.ExternalDocumentListType">
        <Item xsi:type="ETAS.EE.Data.ExternalDocumentType" id="IDf107129d-3cc6-4de2-8aba-be07774e96b9" type="" name="Options" file="Options.opt" />
      </Documents>
    </Item>
    <Item xsi:type="ETAS.EE.Data.PluginDataType" id="ID7f13f88b-b15b-4c39-8fbb-2f0654d58a9a" pluginID="FilterDataPlugin" rootFolder="FilterDataPlugin_Files">
      <Documents xsi:type="ETAS.EE.Data.ExternalDocumentListType">
        <Item xsi:type="ETAS.EE.Data.ExternalDocumentType" id="ID8edab07b-53ab-45ac-9741-cf5ae278957d" type="" name="FilterConfigurations" file="FilterConfigurations.xml" />
      </Documents>
    </Item>
    <Item xsi:type="ETAS.EE.Data.PluginDataType" id="ID3851136f-0043-48b8-b93f-ab08fdc34fd5" pluginID="InstrumentationPlugin" rootFolder="InstrumentationPlugin_Files">
      <Documents xsi:type="ETAS.EE.Data.ExternalDocumentListType">
        <Item xsi:type="ETAS.EE.Data.ExternalDocumentType" id="ID1d67e072-6dff-424e-97d6-5e6913760577" type="" name="WidgetsUIData" file="WidgetsUI.xml" />
      </Documents>
    </Item>
    <Item xsi:type="ETAS.EE.Data.PluginDataType" id="ID837950fa-8ecc-4c8d-b694-0e4ffc4b0936" pluginID="DataloggerPlugin" rootFolder="DataloggerPlugin_Files">
      <Documents xsi:type="ETAS.EE.Data.ExternalDocumentListType">
        <Item xsi:type="ETAS.EE.Data.ExternalDocumentType" id="ID14d4b8c7-882c-4e06-89eb-1a0a4e12f89a" type="" name="DataloggerData" file="Datalogger.xml" />
      </Documents>
    </Item>
    <Item xsi:type="ETAS.EE.Data.PluginDataType" id="ID671f12db-7670-4d02-8181-3d1d361968af" pluginID="CommonSignalGeneratorPlugin" rootFolder="CommonSignalGeneratorPlugin_Files">
      <Documents xsi:type="ETAS.EE.Data.ExternalDocumentListType">
        <Item xsi:type="ETAS.EE.Data.ExternalDocumentType" id="ID56edf062-2a96-4a4a-a82f-6d9a1886e231" type="" name="SGConfiguration" file="SignalGenerator.xml" />
      </Documents>
    </Item>
  </PluginData>
  <ExperimentFiles xsi:type="ETAS.EE.Data.ExperimentFilesType">
    <mappingFiles xsi:type="ETAS.EE.Data.MappingFileListType" />
    <dataloggerCfgFiles xsi:type="ETAS.EE.Data.DataloggerCfgFileListType" />
    <parameterFiles xsi:type="ETAS.EE.Data.ParameterFileListType" />
    <rtPluginFiles xsi:type="ETAS.EE.Data.RTPluginFileListType" />
    <scriptRecorderFiles xsi:type="ETAS.EE.Data.ScriptRecorderFileListType" />
  </ExperimentFiles>
  <ExperimentInfo xsi:type="ETAS.EE.Data.ExperimentInfoType">
    <DateTime xsi:type="ETAS.EE.Data.DateTimeInfoType" id="ID8f74aa98-0272-4721-b589-19d83d9a907c" Created="2019-02-28T07:48:28.833Z" LastOpened="2019-02-28T08:54:18.781Z" LastSaved="2019-02-28T08:47:08.822Z" />
    <Version xsi:type="ETAS.EE.Data.VersionInfoType" id="IDcf9dba66-9a82-48be-980a-94887bc280d8" Created="3.7.6.132" LastSaved="3.7.6.132" MinRequired="3.7" />
  </ExperimentInfo>
  <ExperimentEventHooks xsi:type="ETAS.EE.Data.EventHooksListType" />
</Experiment>